*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    padding: 8px;
    border-radius: 8px;
    margin: 0;
    font-size: 50px;
    text-transform: uppercase;
}


#logo-img {
    display: flex;
    height: 100%;
    background: rgb(253, 253, 253);
    padding: 27px;
    align-items: center;
    color: white;
    transition: 0.4s;
}

#logo-img img {
    height: 30px;
}

body {
  position: relative;
}


#topicInput {
  background-image: url('img/searchicon.png'); /* Add a search icon to input */
  background-size: 18px 18px;
  background-position: 9px 11px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 14px; /* Increase font-size */
  color: grey;
  padding: 10px 40px 10px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */

  right: -90px;
  margin: 5px;
}

#studentInput {
  background-image: url('img/searchicon.png'); /* Add a search icon to input */
  background-size: 18px 18px;
  background-position: 9px 11px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 14px; /* Increase font-size */
  color: grey;
  padding: 10px 40px 10px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */

  right: -90px;
  margin: 5px;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.plus-button {
  background-image: url('img/plusicon.png'); /* Add a search icon to input */
  background-size: 18px 18px;
  background-position: 13px 13px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
	border: 2px solid lightgrey;
	background-color: #fff;
	font-size: 16px;
	height: 3em;
	width: 3em;
	border-radius: 999px;
	position: relative;
  top: 650px;
  right: 16px;
  cursor:pointer;
}

.link {
  stroke: #fcfcfc;
}

.node text {
  pointer-events: none;
  font: 12px Calibri, Arial;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

marker#licensing {
  fill: green;
}

path.link.licensing {
  stroke: green;
}

path.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

div.tooltip {
    position: absolute;
    text-align: center;
    max-width: 300px;
    padding: 10px;
    font: 12px sans-serif;
    background: lightblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 50px;
  background-color: white;
  
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  padding-right: 20px;
  display: none;
}

#sideNavContent a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: darkgrey;
  display: block;
  transition: 0.3s;
}

#sideNavContent a:hover {
  color: grey;
}

.sidenav .closebtn {
  position: absolute;
  top: -10px;
  left: 430px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#reminderMenu{
  width: 600px;
}

