*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
    padding: 8px;
    border-radius: 8px;
    margin: 0;
    font-size: 50px;
    text-transform: uppercase;
    
}

#topicInput {
  background-image: url('img/searchicon.png'); 
  background-size: 18px 18px;
  background-position: 9px 11px; 
  background-repeat: no-repeat; 
  width: 100%; 
  font-size: 14px; 
  color: grey;
  padding: 10px 40px 10px 40px; 
  border: 1px solid #ddd; 
  margin-right: 20px;
}

.top-bar-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.top-bar-right img{
  padding: 27px;
  width: 200px;
}

#nav-link{
  margin-right: 20px;
  margin-left: 10px;
}

#studentInput {
  background-image: url('img/searchicon.png'); 
  background-size: 18px 18px;
  background-position: 9px 11px; 
  background-repeat: no-repeat; 
  width: 100%; 
  font-size: 14px; 
  color: grey;
  padding: 10px 40px 10px 40px; 
  border: 1px solid #ddd; 
  margin-right: 15px;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.plus-button {
  background-image: url('img/plusicon.png'); 
  background-size: 18px 18px;
  background-position: 13px 13px; 
  background-repeat: no-repeat;
	border: 2px solid lightgrey;
	background-color: #fff;
	font-size: 16px;
	height: 3em;
	width: 3em;
	border-radius: 999px;
  padding: 10px 40px 10px 5px; 
  margin-left: -5px;
  cursor:pointer;
}

.link {
  stroke: #fcfcfc;
}

.node text {
  pointer-events: none;
  font: 12px Calibri, Arial;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

marker#licensing {
  fill: green;
}

path.link.licensing {
  stroke: green;
}

path.link.resolved {
  stroke-dasharray: 0,2 1;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

.sidenav {
  transition: 0.5s;
  padding-top: -10px;
  display: none;
  padding-left: 25px;
  padding-right: 15px;
  padding-bottom: 80px;
}

.sidenav .access_course{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


#sideNavContent a {
  font-size: 25px;
  color: darkgrey;
  margin-bottom: 10px;

}

#sideNavContent h1 {
  text-align: center;
  margin-bottom: 10px;

}

#sideNavContent tr {
  cursor:pointer;

}

#sideNavContent a:hover {
  color: grey;
}

.sidenav .closebtn {
  font-size: 36px;
  position: relative;
  padding-left: 490px;
}

.sidenav .closebtn:hover {
  cursor:pointer;
  
}

#main {
  transition: margin-left .5s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 50px;
}



@media screen and (max-width: 1000px) {
    #main{
        flex-direction: column;
    }

    .sidenav .closebtn {
      font-size: 36px;
      position: absolute;
      right: 30px;
      left: auto;
    }
}

#topicTree {
    overflow: hidden;
    background-color: orange;
}
